In [17]:
import pandas as pd
import os

os.chdir("/home/ubuntu/realestate")
print(os.getcwd())

/home/ubuntu/realestate

- [행안부 5월 1일자 법정동 코드](https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardList.do?bbsId=BBSMSTR_000000000052)

In [19]:
data_raw = pd.read_excel('data/KIKcd_B.20230501.xlsx',
                         dtype = {'법정동코드' : object})

In [20]:
data_raw

            법정동코드      시도명  시군구명 읍면동명  동리명      생성일자  말소일자
0      1100000000    서울특별시   NaN  NaN  NaN  19880423   NaN
1      1111000000    서울특별시   종로구  NaN  NaN  19880423   NaN
2      1111010100    서울특별시   종로구  청운동  NaN  19880423   NaN
3      1111010200    서울특별시   종로구  신교동  NaN  19880423   NaN
4      1111010300    서울특별시   종로구  궁정동  NaN  19880423   NaN
...           ...      ...   ...  ...  ...       ...   ...
20559  5013032022  제주특별자치도  서귀포시  표선면  하천리  20060701   NaN
20560  5013032023  제주특별자치도  서귀포시  표선면  성읍리  20060701   NaN
20561  5013032024  제주특별자치도  서귀포시  표선면  가시리  20060701   NaN
20562  5013032025  제주특별자치도  서귀포시  표선면  세화리  20060701   NaN
20563  5013032026  제주특별자치도  서귀포시  표선면  토산리  20060701   NaN

[20564 rows x 7 columns]

In [25]:
# 법정동코드를 통해 앞 5자리는 법정동시군구코드로, 뒷 5자리는 법정동읍면동코드로 전처리
data_raw['법정동시군구코드'] = data_raw['법정동코드'].str[:5]
data_raw['법정동읍면동코드'] = data_raw['법정동코드'].str[5:]

In [27]:
# 법정동읍면동코드가 00000이 아닌 것만 제외하고, 인덱스 정상화
data_raw_2 = data_raw[data_raw['법정동읍면동코드'] != '00000']
data_raw_2 = data_raw_2.reset_index(drop = True)

In [33]:
data_raw_2.to_csv('data/regal_code.csv', index = False)